newapp/src/main/mule/newapp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="75ace61c-763b-4c1a-89ed-511b6bff1ab3" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="newappFlow" doc:id="009db2d6-c821-41ba-b025-117647d8a9e3" >
		<http:listener doc:name="Listener" doc:id="349f486e-aa27-421b-89da-51f174d28b6b" config-ref="HTTP_Listener_config" path="/new"/>
		<set-payload value='#["welcome to MuleSoft Advanced Concept"]' doc:name="Set Payload" doc:id="7e9afd0f-68be-4f2f-a08f-646f6da8865b" />
	</flow>
</mule>
